$("#car_request_<%= @car.id %>").html("<a href='/send_request?id=1' class='btn btn-warning' disabled='disabled'>RIDE REQUESTED</a>");
alert("We've recieved your ride request - a representative will be contacting you shortly.");